---
import { getCollection } from "astro:content";
const cl = Astro.currentLocale;
const faqEntries = await getCollection('faqs',  ({ id }) => id.includes(`${cl}`));

---



<div class="mt-0 mb-16 md:mt-0">
    {faqEntries.map(faqEntry => (
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        {faqEntry.data.question}
    </h2>
    <p class="text-lg w-3/4 mt-4 mb-16 text-slate-600">
        {faqEntry.body}
    </p>
    ))}
</div>

