---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
const featureEntries = await getCollection('features',  ({ id }) => id.includes('de'));

interface FeatureContent {
    title: string;
    teaser: string;
}

interface Feature {
    [locale: string]: FeatureContent;
}

const featureHeader: Feature = {
    de: {
        title: 'Deine Mitgliedschaft',
        teaser: 'Ein kurzer Teaser auf Deutsch.'
    },
    en: {
        title: 'Your Membership',
        teaser: 'A short teaser in English.'
    }
};

const getFeatureByLocale = (locale: string): FeatureContent | undefined => {
    return featureHeader[locale];
};

const fHeader = getFeatureByLocale('de');


---

<div class="mt-0 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {fHeader?.title}
  </h2>
  <p class="text-lg w-3/4 mt-4 text-slate-600">
   {fHeader?.teaser}
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 mb-16 gap-16">
  {
    featureEntries.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.data.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.data.teaser}</p>
        </div>
      </div>
    ))
  }
</div>
