---
import { getEntry } from "astro:content";
const cl = Astro.currentLocale;
const heroEntry = await getEntry('hero', `${cl}/hero`);

---

<style>
  .zueri-back{
    background-color: #0070b4;
  }
</style>


<main
  class="grid lg:grid-cols-3 place-items-center pt-16 pb-8 md:pt-12 md:pb-16">
  <div class="py-6 md:order-1 hidden md:block lg:col-span-1">
  </div>
  <div class="lg:col-span-2">
    <h1
      class="text-5xl lg:text-6xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      {heroEntry?.data.title}
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
    {heroEntry?.body}
    
    </p>

    <div class="mt-6 mb-8 flex pr-12 sm:flex-row gap-3">
       <a href="register" target="_blank" rel="noopener" class="rounded zueri-back text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white  border-2 border-transparent flex gap-1"> 
        Join us - it's free!
       </a> 
    </div>
    
    
  </div>
</main>

