---
import { getEntry } from 'astro:content';
const cl = Astro.currentLocale;
const label = await getEntry('labels', `${cl}/labels`);
const { user_profile } = Astro.props;

---


<script>
 

// Extend the Window type
declare global {
  interface Window {
    preventRefresh: (e: Event) => void;
  }
}

// Attach the preventRefresh function to the global window object
window.preventRefresh = function (e: Event) {
  e.preventDefault(); // Prevent the default form submission
  console.log('Form submission prevented!');
};



  </script>

<div class="h-full group p-6 sm:p-8 bg-white border border-gray-200/50 bg-opacity-90 shadow-2xl shadow-gray-600/10">
    <form method="POST" id="updateForm" onsubmit="preventRefresh(event)">
    <table class="mt-6 -mb-2 w-full text-gray-600">
        <tr>
            <td class="py-2">ZIP</td>
            <td class="text-gray-500">
                <input id="zip" name="zip"  class="appearance-none block w-full bg-gray-200 text-gray-700  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="number"
                min="1000"
                max="9999"  
                value={user_profile.zip} />
            </td>
        </tr>
        <tr>
            <td class="py-2">Newsletter</td>
            <td class="text-gray-500">
                  <input
                  id="newsletter"
                  name="newsletter"
                  type="checkbox"
                  checked={user_profile.newsletter}>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right">
                    <input type="hidden" name="form" value="update">
                    <button id="update_button" type="submit" class="bg-[#2077C2] hover:bg-red-500 text-white font-bold py-2 px-4">Update</button>
                </td>
        </tr>
    </tbody>
    </table>
</form>
</div>



