---
import { getEntry } from 'astro:content';
const cl = Astro.currentLocale;
const label = await getEntry('labels', `${cl}/labels`);
const { user } = Astro.locals;
---

<div class="h-full group p-6 sm:p-8 bg-white border border-gray-200/50 bg-opacity-90 shadow-2xl shadow-gray-600/10">
    <form method="POST" id="update_password">
    <table class="mt-6 -mb-2 w-full text-gray-600">
        <tr>
            <td class="py-2">{label?.data.tab_password_new_pw}</td>
            <td class="text-gray-500">
                <input id="old_password" name="old_password" class="appearance-none block w-2/3 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password" placeholder="******************">
            </td>
        </tr>
        <tr>
            <td class="py-2">{label?.data.tab_password_new_pw}</td>
            <td class="text-gray-500">
                <input id="password" name="password" class="appearance-none block w-2/3 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="password" type="password" placeholder="******************">
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right">
                    <input type="hidden" name="form" value="update_password">
                    <button id="update_button" type="submit" class="bg-[#2077C2] hover:bg-red-500 text-white font-bold py-2 px-4">Update</button>
                </td>
        </tr>
    </tbody>
    </table>
</form>
</div>