---
import Layout from '../../layouts/Layout.astro';
import Container from "@components/container.astro"
import { getEntry } from "astro:content";

const cl = Astro.currentLocale;
const label = await getEntry('labels', `${cl}/labels`)

const { user } = Astro.locals;
if (user) {
   return Astro.redirect(`/${cl}/myaccount`);
}



---
---
<style>
    .reg-link:hover{
      text-decoration: underline;
    }
  </style>
  
  
  
  <Layout title="Beachvolley Zurich">
      <main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
          <section class="relative overflow-hidden scroll-mt-24" id="account">  
              <Container>
                  <div
                  aria-hidden
                  class="opacity-0 dark:opacity-25 absolute [background-image:radial-gradient(theme(colors.gray.500),transparent_50%)] top-0 w-[1000px] z-10 h-[800px] left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
                />
                <div class="relative pt-32 sm:pt-44 ml-auto">
                  <div class="lg:w-full text-left mx-auto">
                      <h1 class="text-gray-930 dark:text-white font-bold text-4xl sm:text-3xl md:text-3xl mb-3">{label?.data?.login_title ?? 'Login'}</h1>
                      <form method="POST" class="w-full max-w-lg">              
                          <div class="flex flex-wrap -mx-3 mb-6">
                           <div class="w-full px-3">
                               <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-email">
                                 E-mail
                               </label>
                               <input name="email" type="email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email" placeholder="player@mail.com">
                           </div>      
                          <div class="w-full px-3">
                              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                                {label?.data?.password ?? 'Password is mandatory'}
                              </label>
                              <input name="password" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="password" type="password" placeholder="******************">
                            </div>
                            <div class="w-full px-3">
                              <a class="reg-link" href="/de/register/">{label?.data?.no_account ?? 'No account?'}</a>
                            </div>
                            
                            <div class="w-full md:w-2/3 px-3 py-3">
                              <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4">Sign in</button>
                            </div>                      
                          </div>
                      </form>
  
  
  
                  
                  </div>
              </div>
          </section>
      </main>
  </Layout>
  